*{
    padding:0;
    margin:10;
}

body{
    background-color: #a58686;
}

header{
    background-color: silver;
}
img{
    length: 100px;
    width: 100px;
     background-color: green;
}

.one{
    background-color: #64b0a7;
}
.two{
    background-color: white;
}

 .pic{
     background-color: green;
 }
     
